[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/snip-snippets"]
	path = bundle/snip-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
