[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/supertabs"]
	path = bundle/supertabs
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tsaleh/vim-tcomment.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate-snippets/snippets"]
	path = bundle/snipmate-snippets/snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
